body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #EEF36A;
    font-family: "Lato", sans-serif;
}

p {
    margin-top: 0;
}

h1 {
    font-size: 2em;
}
nav {
    display: none;
}
header {
    background-color: #231651;
    margin-bottom: 16px;
    padding: 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header button {
    max-width: 20%;
}
button {
    font-size: 2em;
    border-radius: 16px;
    margin: 16px;
    margin-right: 16px;
    padding: 16px;
    width: 80%;
    cursor: pointer;
    font-family: "Teko", sans-serif;
}
img {
    width: 100%;
}
.Movies {
    display: flex;
    color: black;
    flex-flow: row wrap; 
    background-color: #4DCCDD;
    font-size: 1.5em;
    margin-bottom: 16px;
    max-width: 900px;
}
.Movie {
    display: flex;
    flex-flow: column;

}
.Movie button {
    width: 90%;
    font-size: 2em;
    margin-bottom: 16px;
}