@media (min-width: 720px) and (max-width: 1024px){
    h1 {
        font-size: 3em;
    }

    header {
        justify-content: space-between;
        box-shadow: 5px 5px 10px black;
    }
    header button {
        max-width: 10%;
        min-width: 20%;
    }
    nav {
        display: flex;
        gap: 32px;
    }

    nav a {
        color: white;
        text-decoration: none;
    }

    .Movies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
        width: 90%;
        margin: auto;
    }
    .Movie {
        box-shadow: 5px 5px 10px black;
        margin-bottom: 0px;
        height: 100%;
    }
    .Movie button {
        margin-top: auto;
    }
    .featured-content {
        flex-grow: 1;
    }
    .wide-Content {
        flex-grow: 1;
    }
}